<%= form_for(money) do |f| %>
  <% if money.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(money.errors.count, "error") %> prohibited this money from being saved:</h2>

      <ul>
      <% money.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Total %>
    <%= f.text_field :Total %>
  </div>

  <div class="field">
    <%= f.label :Debit %>
    <%= f.text_field :Debit %>
  </div>

  <div class="field">
    <%= f.label :Credit %>
    <%= f.text_field :Credit %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
