<p id="notice"><%= notice %></p>

<p>
  <strong>Total:</strong>
  <%= @money.Total %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @money.Debit %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @money.Credit %>
</p>

<%= link_to 'Edit', edit_money_path(@money) %> |
<%= link_to 'Back', money_index_path %>
